In [18]:
import pandas as pd
data = pd.read_excel("fallecidos2013-2023.xlsx")
data

,año,fall_les,tipo_veh,modelo_veh,g_modelo_veh,marca,color,hora_ocu_fall,g_hora_fall,g_hora_5_fall,día_sem_ocu_fall,mes_ocu_fall,causa_acc
0,2013,2,1,5,ignorado,5,2,5,1,ignorado,2,1,2
1,2013,2,1,5,ignorado,5,2,5,1,ignorado,2,1,2
2,2013,2,1,5,ignorado,5,2,5,1,ignorado,2,1,2
3,2013,1,4,5,ignorado,24,1,0,1,ignorado,2,1,2
4,2013,2,4,5,ignorado,24,1,0,1,ignorado,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99510,2020,2,4,9999,99,2,5,13,3,2,4,12,5
99511,2020,2,4,9999,99,2,5,13,3,2,4,12,5
99512,2020,2,4,9999,99,2,5,13,3,2,4,12,5
99513,2020,1,4,2019,5,168,1,18,4,3,4,12,5
99514,2020,2,4,2013,5,27,1,21,4,3,4,12,5

In [ ]:
import pandas as pd

# Diccionario de transformación
fall_les_dict = {
    1: "Fallecido",
    2: "Lesionado",
    3: "Ignorado"
}

# Asegurarse de que los valores sean numéricos si vienen como string
data["fall_les"] = pd.to_numeric(data["fall_les"], errors="coerce")

# Aplicar la transformación
data["fall_les"] = data["fall_les"].map(fall_les_dict)

# Mostrar los primeros resultados
data.head()

,año,fall_les,tipo_veh,modelo_veh,g_modelo_veh,marca,color,hora_ocu_fall,g_hora_fall,g_hora_5_fall,día_sem_ocu_fall,mes_ocu_fall,causa_acc
0,2013,Lesionado,1,5,ignorado,5,2,5,1,ignorado,2,1,2
1,2013,Lesionado,1,5,ignorado,5,2,5,1,ignorado,2,1,2
2,2013,Lesionado,1,5,ignorado,5,2,5,1,ignorado,2,1,2
3,2013,Fallecido,4,5,ignorado,24,1,0,1,ignorado,2,1,2
4,2013,Lesionado,4,5,ignorado,24,1,0,1,ignorado,2,1,2

In [ ]:
tipo_veh_dict = {
    1: "Automóvil",
    2: "Camioneta sport o blazer",
    3: "Pick up",
    4: "Motocicleta",
    5: "Camión",
    6: "Cabezal",
    7: "Bus extraurbano",
    8: "Jeep",
    9: "Microbús",
    10: "Taxi",
    11: "Panel",
    12: "Bus urbano",
    13: "Tractor",
    14: "Moto taxi",
    15: "Furgón",
    16: "Grúa",
    17: "Bus escolar",
    18: "Bicicleta",
    19: "Avioneta",
    20: "Montacargas",
    21: "Bus militar",
    22: "Cuatrimoto",
    23: "Furgoneta",
    24: "Motos acuáticas",
    99: "Ignorado"
}

# Intentar convertir a número y transformar solo si es válido
data["tipo_veh_num"] = pd.to_numeric(data["tipo_veh"], errors="coerce")
data.loc[data["tipo_veh_num"].notna(), "tipo_veh"] = data["tipo_veh_num"].map(tipo_veh_dict)

# Eliminar la columna auxiliar
data.drop(columns="tipo_veh_num", inplace=True)

data

KeyError: False